//COLORS

//BACKGROUND COLORS

   //MAINLY
$primary__background__color: #085E8F;
$secondary__background__color: #12FFF8;
$third__background__color: #008B8B;
$aside__background__color: #8C230E;
$another__background__color: #8C566F;

   //DARK MODE
$dark__background: #000;
$dark__color: #fff;

   //LIGHT MODE
$light__background__color: #fff;
$light__color: #000;

   //LINKS
$link__Color: #000;
$link__visited__color: #FF7F38;