@use "variables" as *;

header {
  width: 100vw;
  height: 5rem;
  position: fixed;
  display: flex;
  background-color: $primary__background__color;
  z-index: 9999;
}

.title {
  margin: auto 1rem;

}

.dark__mode {
  width: 20rem;
  height: 4rem;
  margin: auto 3rem;
  background: url("../Icons/dark__mode.svg") no-repeat;
  background-size: 4rem;
  border: none;
  cursor: pointer;
}

nav {
  font-size: 2rem;
  display: block;
  width: 15%;
  flex: 1;
  margin: auto 3rem;

  ul {
    float: right;
  }
}

li {
  line-height: 1.5;
  margin: 0 2rem;
}

.menu {
  width: 15rem;
  flex: 1;
  float: left;
  margin: 0.5rem 1rem;
}

.hamburger__menu {
  width: 5rem;
  height: 5rem;
  display: none;
  margin: 0 0.5rem;
  background: url("../Icons/menu.svg") no-repeat;
  border: none;
}

@media (min-width: 320px) and (max-width: 424px) {

  .title {
    width: 70%;
    font-size: 2rem;
  }

  .dark__mode {
    width: 15%;
    margin: 0.5rem 1rem;
  }

  nav {
    width: 17rem;
    display: grid;
    position: absolute;
    top: 5rem;
    right: 0;
    margin-right: -17rem;

    ul {
      background-color: #1E90FF;
    }
  }

  .hamburger__menu {
    display: block;
  }
}

@media (min-width: 425px) and (max-width: 767px) {

  .title {
    width: 70%;
    font-size: 2.5rem;
  }

  .dark__mode {
    width: 10%;
    margin: 0.5rem 2rem;
  }

  nav {
    width: 17rem;
    position: absolute;
    top: 5rem;
    right: 0;
    margin-right: -17rem;

    ul {
      background-color: #1E90FF;
    }
  }

  .hamburger__menu {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .title {
    width: 40%;
    margin: auto 0;
  }

  .dark__mode {
    width: 10%;
    margin: 0.5rem 0;
  }

  nav {
    width: 60%;
  }

  .menu {
    margin: 1rem 0;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  .title {
    width: 27%;
    margin: auto 2.5rem auto 0;
  }

  .dark__mode {
    width: 4%;
    margin: 0.5rem 1rem;
  }

  nav {
    width: 48%;
    margin: 0 1rem;
  }

  .menu {
    width: 15rem;
    margin: 1rem;
  }
}

