@use 'variables' as *;

.wrapper {
    width: 75%;
    position: relative;
    margin: 5rem auto;
}

.carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    height: 0;
}

.left__arrow,
.right__arrow {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.left__arrow {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: flex;
    background-image: url("../Icons/left__arrow__light__mode.svg");
}

.right__arrow {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    background-image: url("../Icons/right__arrow__light__mode.svg");
}

.content {
    display: grid;
    grid-gap: 2rem;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    font-size: 1.2rem;

    & article {
        background-color: $third__background__color;
    }
}

.item {
    width: 25rem;
    height: 25rem;
    background: $third__background__color;
    display: block;
}

.author__name {
    width: 12.5rem;
    height: 2rem;
    float: left;
    text-align: left;
    margin: 0.5rem 0 0.5rem 0.5rem;
    padding: .5rem 0;
}

.share__options {
    width: 12rem;
    height: 2.5rem;
    float: right;
    display: flex;
}

.first__share__icon, .second__share__icon, .third__share__icon, .fourth__share__icon {
    width: 2rem;
    height: 2rem;
    display: block;
    margin: .5rem .25rem;
    background-repeat: no-repeat;
    flex: 1;
}

.first__share__icon {
    background-image: url("../Icons/facebook.svg");
}

.second__share__icon {
    background-image: url("../Icons/twitter.svg");
}

.third__share__icon {
    background-image: url("../Icons/discord.svg");
}

.fourth__share__icon {
    background-image: url("../Icons/copy.svg");
}
