@use "variables" as *;
@use "homeGaleries";

@use "account/account";
@use "linkFooter/faq";

.workspace {
  width: 75vw;
  padding: 8rem 0;
  margin: 0 auto;
}

.top__among__users, .subscribed {
  text-align: center;
  margin: 3rem auto 5rem auto;
}

@media (min-width: 320px) and (max-width: 767px) {

  .workspace {
    width: 100vw;
    margin-bottom: 5rem;
    padding-top: 4rem;
  }

  .top__among__users, .subscribed {
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    margin: 6rem auto;
  }

  .wrapper {
    margin: 5rem 0;
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .wrapper {
    width: 75vw;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  .top__among__users, .subscribed {
    width: 75vw;
  }

  .wrapper {
    margin: 0 auto;
  }

  .content {
    display: grid;
    margin: auto;
    box-sizing: border-box;
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {

  .workspace {
    width: 75vw;
    padding: 8rem 0;
  }
}