# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
*/build

# misc
.DS_Store
.env
.env.local
.env.development
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#idea
.idea

#logs
*.log

#css subfiles
*.css
*.css.map

############################
# OS X
############################
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Logs and databases
############################

.tmp
*.sql

############################
# Misc.
############################

*#
ssl
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Tests
############################

testApp
coverage

############################
# Strapi
############################
license.txt
exports
*.cache
.strapi-updater.json

postgres

public

package-lock.json