rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{pseudonym} {
      allow read, update, delete: if request.auth != null && request.auth.pseudonym != null;
      allow create: if true;
    }
  }
}