@import url('reset.css');

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
html {
    font-size:62.5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #1E90FF;
}

a:active{
    color: #12FFF8;
}

/*a:visited{*/
/*    color: #FF7F38;*/
/*}*/

a:focus {
    color: #FFD405;
}


/*.wholePage {*/
/*    height: 90%;*/
/*}*/

header {
    width: 100%;
    height: 5%;
    position: fixed;
    display: flex;
    background-color: darkred;
    color: darkblue;
    padding: 0.5rem;
    font-size: 2rem;
    border-bottom: 1rem inset darkred;
    z-index: 9999;
}

.title {
    margin: auto 1rem;
}

.darkMode {
    width: 20rem;
    margin: 1rem 3rem;
    font-size: 2rem;
}

nav {
    font-size: 2rem;
    display: block;
    width: 15%;
    flex: 1;
    margin: 0 3rem;
}

nav ul {
    float: right;
}

li {
    line-height: 1.5;
    margin: 0 2rem;
}
.menu {
    width: 15rem;
    flex: 1;
    float: left;
    margin: 0.5rem 1rem;
    
}

aside {
    width: 12%;
    height: 105vmax;
    float: left;
    margin-top: 4rem;
    padding: 1rem 0 0;
    background-color: tomato;
}

aside h3 {
    padding-top: 3rem;
}

.category {
    height: 90%;
    font-size: 1.5rem;
    padding-top: 3rem;
}

.contact {
    padding-top: 1rem;
    width: 100%;
    height: 4rem;
    background: darkgoldenrod;
} 

.workspace {
    width: 88%;
    padding-top: 8rem;
    float: left;
}

.topAmongUsers, .Subscribed {
    width: 80rem;
    text-align: left;
    clear: both;
    margin: 3rem auto 5rem auto;
}

.articleContainers {
    width: 82%;
    height: 30rem;
    position: relative;
    margin: 0 auto;
    padding: 0 3rem;
    overflow: scroll hidden;
    background-color: antiquewhite;
}

.contents {
    float: left;
    margin: 0 2rem;
    padding: 0 1rem;
    background-color: aqua;
}

article .photos {
    clear: both;
    width: 28rem;
    height: 28rem;
    display: block;
    background-color: blue;
}

.authorName {
    width: 50%;
    height: 2rem;
    float: left;
    text-align: left;
    padding: 1rem 0 2rem 1rem;
    background-color: blueviolet;
}

.shareOptions {
    width: 50%;
    height: 2rem;
    float: right;
    text-align: right;
    padding: 1rem 1rem 2rem 0;
    background-color: brown;
}

.leftArrow, .rightArrow  {
    width: 20rem;
    height: 30rem;
    display: inline-block;
    position: absolute;
    z-index: 9999;
}

.leftArrow {
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    margin: 12.5rem 0;
    float: left;
    left: 0;
    background-image: url("Icons/left arrow light mode.svg");
}

.rightArrow {
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    margin: 12.5rem 0;
    float: right;
    right: 0;
    background-image: url("Icons/right arrow  light mode.svg");
}

footer {
    clear: both;
    display: flex;
    background-color: darkcyan;
}

footer div {
    width: 20%;
    height: 5%;
    padding: 0.5% 0;
    flex: 1;
}

.accountH2 {
    width: 50%;
    height: 4rem;
    margin: 3rem 0;
}

.accountMenu {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20% 3rem 20%;
}

.accountMenu div {
    height: 4rem;
    margin: 0 2rem;
    font-size: 2rem;
}

.accountMenu div:first-child{
    border-bottom: 0.3rem inset black;
}

.accountMenu div:hover{
    border-bottom: 0.3rem inset #1E90FF;
}

.accountMenu div:active{
    border-bottom: 0.3rem inset #12FFF8;
}

.accountMenu div:focus{
    border-bottom: 0.3rem inset #FFA205;
}

.accountMenu div:link {
    border-bottom: 0.3rem inset #FF38D4;
}

.accountMenu div:visited{
    border-bottom: 0.3rem inset #0582FF;
}

.accountData {
    width: 75%;
    margin: 3rem auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.accountData div {
    width: 25%;
    margin: 3rem;
    flex-flow: column;
}

.accountData label {
    width: 50%;
    height: 3rem;
    flex-flow: column;
    font-size: 2rem;
}

.userGalleryInAccount {
    font-size: 2rem;
}

.userGalleryInAccount em {
    display: inline-block;
    margin: 3rem auto;
}

.accountData input, .accountData button {
    width: 25%;
    height: 3rem;
    flex-flow: column;
}

.userPhotos, .likePhotos {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5rem auto;
}

.photos {
    width: 25rem;
    height: 25rem;
    margin: 1rem;
    background-color: #1E90FF;
}

.profile {
    width: 50%;
    height: 30rem;
    margin: 3rem auto;
    font-size: 2rem;
}

.photoProfile {
    width: 10rem;
    height: 10rem;
    background-color: #12FFF8;
    margin: 3rem;
}

.userName, .aboutMe {
    width: 25%;
    margin: 3rem;
    float: left;
}

.userName label, .aboutMe label {
    margin-bottom: 1rem;
}

.userName input, .aboutMe input {
    margin-top: 1rem;
}


