@import url('reset.css');

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
html {
    font-size:62.5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: #000;
}
/*.wholePage {*/
/*    height: 90%;*/
/*}*/

header {
    width: 100%;
    height: 5%;
    position: fixed;
    display: flex;
    background-color: darkred;
    color: darkblue;
    padding: 0.5rem;
    font-size: 2rem;
}

.title {
    margin: auto 1rem;
}

.darkMode {
    width: 20rem;
    margin: 1rem 3rem;
    font-size: 2rem;
}

nav {
    font-size: 2rem;
    display: block;
    width: 15%;
    flex: 1;
    margin: 0 3rem;
}

nav ul {
    float: right;
}

li {
    line-height: 1.5;
    margin: 0 2rem;
}
.menu {
    width: 15rem;
    flex: 1;
    float: left;
    margin: 0.5rem 1rem;
    
}

aside {
    width: 12%;
    height: 100vh;
    float: left;
    margin-top: 4rem;
    padding: 1rem 0 0;
    background-color: tomato;
}

aside h3 {
    padding-top: 3rem;
}

.category {
    height: 90%;
    font-size: 1.5rem;
    padding-top: 3rem;
}

.contact {
    padding-top: 1rem;
    width: 100%;
    height: 4rem;
    background: darkgoldenrod;
} 

.workspace {
    width: 88%;
    padding-top: 8rem;
    float: left;
}

.topAmongUsers, .Subscribed {
    width: 80rem;
    text-align: left;
    clear: both;
    margin: 3rem auto 5rem auto;
}

.articleContainers {
    width: 108rem;
    height: 30rem;
    position: relative;
    margin: 0 auto;
    padding: 0 3rem;
    overflow: scroll hidden;
    background-color: antiquewhite;
}

.contents {
    float: left;
    margin: 0 2rem;
    padding: 0 1rem;
    background-color: aqua;
}

.photos {
    clear: both;
    width: 28rem;
    height: 28rem;
    display: block;
    background-color: blue;
}

.authorName {
    width: 50%;
    height: 2rem;
    float: left;
    text-align: left;
    padding: 1rem 0 2rem 1rem;
    background-color: blueviolet;
}

.shareOptions {
    width: 50%;
    height: 2rem;
    float: right;
    text-align: right;
    padding: 1rem 1rem 2rem 0;
    background-color: brown;
}

.leftArrow, .rightArrow  {
    width: 20rem;
    height: 30rem;
    display: inline-block;
    position: absolute;
    background-image: url("Pictures/arrayRightDark.png");
    z-index: 9999;
}

.leftArrow {
    float: left;
    left: 5%;
}

.rightArrow {
    float: right;
    right: 5%;
}

footer {
    clear: both;
    display: flex;
    background-color: darkcyan;
}

footer div {
    width: 20%;
    height: 5%;
    padding: 0.5% 0;
    flex: 1;
}

.accountH2 {
    width: 50%;
    height: 4rem;
    margin: 3rem 0;
}

.accountMenu {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto 3rem auto;
}

.accountMenu div {

    height: 4rem;
    margin: 0 2rem;
    font-size: 2rem;
}

.accountMenu div:first-child{
    border-bottom: 0.3rem inset black;
}

.accountMenu div:hover{
    border-bottom: 0.3rem inset dodgerblue;
}

