@import url('reset.css');

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 2rem;
    position: fixed;
    display: flex;
    background-color: darkred;
    color: darkblue;
    padding: 0.5rem;
    font-size: 20px;
}

nav {
    display: block;
    float: right;
    width: 15%;
    flex: 1;
}

nav ol {
    float: right;
}

.menu {
    width: 5rem;
    flex: 1;
    float: left;
    border: darkblue solid;
    
}

article {
    float: left;
    width: 10%;
    height: 2000px;
    padding: 10px;
    background-color: tomato;
}
article .category {
    padding-top: 30px;
    height: 90%;
}

article .contact {

    background: darkgoldenrod;
} 




footer {
    clear: both;
    display: flex;
    background-color: darkcyan;
}

footer div {
    padding: 0.5% 2rem;
    flex: 1;
}
