@use "../../../generalSCSS/variables" as *;

.footer {
	height: 4rem;
	display: flex;
	position: relative;
	background-color: $third__background__color;
	font-size: 1.5rem;

	button {
		flex: 1;
		width: 20%;
		margin: auto;
		padding: 0.5% 0;
		background-color: inherit;
		border: 0.1rem;
	}

	.change__language {
		background-color: initial;

		a {
			margin: 0.2rem;
			padding: 0.2rem;
		}
	}
}

@media (min-width: 280px) and (max-width: 767px) {
	footer button {
		font-size: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	footer button {
		padding: 1.5rem 0;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	footer button {
		padding: 1% 0;
	}
}

/*LANGUAGES*/

.languages {
	width: 15rem;
	height: 4rem;
	position: absolute;
	font-size: 1.5rem;
	bottom: 3rem;
	right: 110vw;
	cursor: pointer;

	& a {
		width: 6rem;
		display: inline-block;
		border: #12fff8;
		border-radius: 10%;
		background-color: #12fff8;
		padding: 0.5rem;
		cursor: pointer;
	}
}

.languages--show {
	right: 0;
}

@media (min-device-width: 950px) and (max-device-width: 1306px) {
	.languages--show {
		right: 2vw;
	}
}

@media (min-width: 1307px) and (max-width: 1439px) {
	.languages--show {
		right: 4vw;
	}
}

@media (min-width: 1440px) and (max-width: 1610px) {
	.languages--show {
		right: 5vw;
	}
}

@media (min-width: 1611px) and (max-width: 2049px) {
	.languages--show {
		right: 6vw;
	}
}

@media (min-width: 2050px) {
	.languages--show {
		right: 7vw;
	}
}