@use "../../../generalSCSS/variables" as *;

footer {
  display: flex;
  position: relative;
  background-color: $third__background__color;

  div {
    width: 20%;
    height: 5%;
    padding: 0.5% 0;
    flex: 1;
  }
}

@media (min-width: 280px) and (max-width: 424px) {

  footer div {
    height: 4rem;
    padding: 2.5% 0;
  }
}

@media (min-width: 425px) and (max-width: 767px) {

  footer div {
    height: 4rem;
    padding: 2.5% 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  footer div {
    height: 4rem;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  footer div {
    height: 4rem;
    padding: 1% 0;
    font-size: 1.5rem;
  }
}