.profile {
	width: 50%;
	height: 30rem;
	margin: 3rem auto;
	font-size: 2rem;
}

.photo__profile {
	width: 10rem;
	height: 10rem;
	background-color: #12FFF8;
	margin: 3rem;
}

.user__name, .about__me {
	width: 25%;
	margin: 3rem;
	float: left;

	label {
		margin-bottom: 1rem;
	}

	input {
		margin-top: 1rem;
	}
}

@media (min-width: 320px) and (max-width: 424px) {

	.profile {
		width: 85%;
		margin: 6rem 3rem 1rem;
	}

	.user__name, .about__me {
		width: 80%;

		label {
			width: 15rem;
			margin: 2rem auto;
		}

	}
}

@media (min-width: 425px) and (max-width: 767px) {

	.profile {
		margin: 6rem 3rem 1rem;
	}

	.user__name, .about__me {
		width: 85%;
		line-height: 2.5rem;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.profile {
		height: 40rem;
		margin: 6rem 3rem 1rem;
	}

	.user__name, .about__me {
		width: 85%;
		line-height: 2.5rem;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {

	.profile {
		margin: 6rem 6rem 1rem;
	}

	.user__name, .about__me {
		width: 85%;
		line-height: 2.5rem;
	}
}

@media (min-width: 1440px) {

	.profile {
		width: 86%;
		margin: 8rem auto;
	}
}